@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");

.App {
  min-height: 100vh;
  /* background-image: linear-gradient(to top, #ffe817 0%, #ffe817 100%); */
}

.question-title {
  margin-top: 50px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 50px;
  text-shadow: -2px 0px rgb(241, 225, 0);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 30%;
  border: 1px solid grey;
  padding: 10px;
  border-radius: 30px;
}

.search-button {
  background: black;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 30px;
  margin: 5px;
}

.recipes-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Link-details {
  text-decoration: none;
  color: black;
}

.title-recipe-list {
  font-weight: normal;
  background-color: black;
  color: white;
  padding: 6px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  
}

.recipe_details_container {
  text-align: center;
}

li {
  list-style: none;
}

.logo-home {
  width: 300px;
  display:block;
  margin:auto;
  padding: 30px;
}

.banner-home {
  display:block;
  margin:auto;
}

.title-recipe-details {
  font-family: "Oswald", sans-serif;
  text-shadow: -2px 0px rgb(241, 225, 0);
  text-transform: uppercase;
}