.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #eedf5b 0%, #eedf5b 100%);
}

.question-title {
  margin-top: 50px;
  text-align: center;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 30%;
  border: none;
  padding: 10px;
  border-radius: 30px;
}

.search-button {
  background: black;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 30px;
  margin: 5px;
}

.recipes-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
