@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

.recipe {
  border-radius: 2px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  align-items: center;
  min-width: 40%;
}

.image {
  border: 50%;
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}
